<section class="section-about js-about">
    <h2 class="section-about__heading js-about-heading js-item">À propos</h2>
    <div class="section-about__content">
        <p class="section-about__paragraph js-about-paragraph js-item">
            Cette expérience interactive vous plonge dans le thème de l’exposition de la petite galerie du Louvre « Figure D’Artiste ». Au sein de l'atelier de la sculptrice française Félicie de Fauveau à Florence, vous êtes invités à explorer les différentes thématiques historiques qui ont forgé ce qu'est aujourd'hui la figure de l'artiste. Dans l’optique d’une utilisation pédagogique ou pour résoudre des problèmes de désengorgement au musée, ce site propose une introduction à la visite de l'exposition pour un public large.
        </p>
        <div class="signature-container">
            <img src="../../img/signature.png" alt="" class="signature js-about-signature">
        </div>
    </div>
</section>