<section class="section-content js-section-content">
    <div class="container section-content__container">
        {{> partials/block-content id="1" content=content.one }}
        {{> partials/block-content id="2" content=content.two }}
        {{> partials/block-content id="3" content=content.three }}
        {{> partials/block-content id="4" content=content.four }}
        {{> partials/block-content id="5" content=content.five }}
        {{> partials/block-content id="6" content=content.six }}
        {{> partials/block-content id="7" content=content.seven }}
        {{> partials/block-content id="8" content=content.eight }}
    </div>
</section>