<section class="section-home js-home-section">
    <div class="section-home__content">
        <img class="section-home__logo js-ui-home" src="../img/logo.svg" alt="">
        <div class="section-home__subtitle js-ui-home">
            De l'anonymat à la consécration
        </div>
    </div>
    <button class="section-home__button js-start-button">
        <span class="section-home__button-mask">
            DECOUVRIR
            <span class="section-home__button-content-inital">
                Découvrir
            </span>
            <span class="section-home__button-content-final">
                l'experience
            </span>
        </span>
    </button>
</section>