<section class="section-loader js-loader-component">
    <div class="section-loader__heading">
        Loading
    </div>
    <div class="section-loader__progress js-progress">
        00
    </div>
</section>