.section-about {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    margin: auto;

    // background-color: black;
    color: white;
    text-align: center;

    pointer-events: none;

}

.section-about__heading {
    font-family: $prata;
    color: white;
    font-size: 50px;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 3px;

    opacity: 0;
}

.section-about__content {
    width: 100%;
}

.section-about__paragraph {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    font-family: $steradian;
    font-size: 16px;
    line-height: 1.6em;

    opacity: 0;
}

.signature-container {
    margin: auto;
    margin-top: 50px;

    width: 35%;

    .signature {
        width: 100%;
        height: auto;

        opacity: 0;
    }
}