{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main">

    <section class="section-loader js-loader-component">
      <div class="section-loader__progress js-progress">
        0%
      </div>
    </section>
    <canvas class="canvas" data-component="three-component"></canvas>

  </main>

  {{/content}}
{{/extend}}
