{{#extend "html/template"}}
  {{#content "body"}}

  <main role="main">

    {{> sections/section-loader }}

    <canvas class="canvas" data-component="three-component"></canvas>
    
    {{> sections/section-subtitles }}

    {{> partials/controls }}

    <div class="cursor js-cursor" data-component="cursor-component"></div>

  </main>

  {{/content}}
{{/extend}}
