{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main">

    {{> sections/section-loader }}

    <canvas class="canvas" data-component="three-component"></canvas>
    
    {{> sections/section-subtitles }}

  </main>

  {{/content}}
{{/extend}}
