$cursor-size: 50px;

.cursor {
    position: absolute;
    left: 0;
    top: 0;

    width: $cursor-size;
    height: $cursor-size;

    margin-top: calc(-#{$cursor-size} / 2);
    margin-left: calc(-#{$cursor-size} / 2);
    
    pointer-events: none;
    
    // opacity: 0;
    // display: none;
}

.cursor__canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}