.progress-bar {
    position: absolute;
    right: 80px;
    
    display: flex;
    align-items: center;

    width: 30px;
    height: 60vh;

    margin-top: 20vh;

    z-index: 1;
    opacity: 0;
}

.progress-bar__active-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 30px;
    height: 30px;

    margin: auto;

    border: solid 1px white;
}

.progress-bar__list {
    // display: flex;
    // align-content: center;
    // flex-direction: column;
    // justify-content: space-around;

    width: 100%;
    height: 100%;
}

.progress-bar__list-item {
    position: relative;

    width: 100%;
    height: 30px;

    margin-bottom: 4vh;

    &:last-child {
        margin-bottom: 0;
    }

    cursor: pointer;

    &:hover, &.active {
        .list-item__name {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.list-item__name {
    @include text-rendering();

    position: absolute;
    right: 150%;
    top: 0;
    
    color: white;

    font-size: 10px;
    font-family: $prata;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 33px;
    white-space: nowrap;
    letter-spacing: 1px;

    opacity: 0;
    transform: translateX(-10px);

    transition: opacity .5s ease-in-out, transform .5s ease-in-out;

    user-select: none;
}

.list-item__bullet {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: block;

    width: 3px;
    height: 3px;

    margin: auto;

    border-radius: 50%;

    background-color: white;
}