<div class="block-content js-block-content" data-content-id="{{id}}"> 
    <h1 class="block-content__heading js-heading">
        {{ content.title }}
    </h1>
    <h1 class="block-content__introduction js-introduction">
        {{ content.introduction }}
    </h1>
</div>