<button class="controls__mute-button controls__mute-button js-mute-button">
    <div class="mute-button__sound-state js-sound-state">Muted</div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</button>