<button class="controls__mute-button controls__mute-button js-mute-button">
    <div class="mute-button__sound-state js-sound-state">Mute</div>
    <canvas class="mute-button__canvas js-canvas-analyzer"></canvas>
</button>

<div class="controls__credits js-credits-button">Crédits</div>