<button class="controls__mute-button controls__mute-button js-mute-button">
    <div class="mute-button__sound-state js-sound-state">Mute</div>
    <canvas class="mute-button__canvas js-canvas-analyzer"></canvas>
</button>

<div class="controls__about">
    <div class="credits-button js-credits-button">Crédits</div>
    <span class="separator js-separator">-</span>
    <div class="about-button js-about-button">À propos</div>
</div>
