<div class="progress-bar js-progress-bar-component">
        <div class="progress-bar__active-square js-active-square">

        </div>
        <ul class="progress-bar__list">
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
                <li class="progress-bar__list-item js-progress-bar-button">
                        <span class="list-item__name">Commode</span>
                        <span class="list-item__bullet"></span>
                </li>
        </ul>
        {{!-- <span class="bullet active" data-name="commode"></span>
        <span class="bullet" data-name="statue"></span>
        <span class="bullet" data-name="tableau-suspendu"></span>
        <span class="bullet" data-name="livre"></span>
        <span class="bullet" data-name="homme-nu"></span>
        <span class="bullet" data-name="tableau-gauche"></span>
        <span class="bullet" data-name="artiste"></span>
        <span class="bullet" data-name="rideau"></span> --}}
</div>