<div class="progress-bar js-progress-bar-component">
        <span class="bullet active" data-name="commode"></span>
        <span class="bullet" data-name="statue"></span>
        <span class="bullet" data-name="tableau-suspendu"></span>
        <span class="bullet" data-name="livre"></span>
        <span class="bullet" data-name="homme-nu"></span>
        <span class="bullet" data-name="tableau-gauche"></span>
        <span class="bullet" data-name="artiste"></span>
        <span class="bullet" data-name="rideau"></span>
</div>